.price-of-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
}

.h1{
    width: 100%; /* w-full */
    display: flex;
    align-items: center; /* items-center */
    justify-content: flex-start; /* justify-start */
    gap: 2rem; /* gap-8 */
    padding: 1.5rem 0; /* py-6 */
}
