
.block{
    position: absolute;
    width: 20%; /* == (400px + 20px + 20px) * .5 = 220px */
    height: 80%; /* == (160px + 30px + 30px) * .25 = 55px */
    margin: 2%; /* == (400px + 20px + 20px) * .05 = 22px */
    left: 70%; /* == (400px + 20px + 20px) * .05 = 22px */
    padding: 5px;
    border-radius: 10px;
    background: lightslategray;
    z-index: -2; /*goes under the photo*/
}

.foto{
    position: absolute;
    margin: 2%; 
    left:65%; 
    width: 20%;
    height: 60%;
    top: 20%;
    
}
.fotoo{
    position: absolute;
     width: 50%;
     height: 400px;
     margin-top: 800px;
     padding: 5px;
    border-radius: 10px;
    margin-left: 50px;
    }
    .fotoo2{
        position: absolute;
         width: 50%;
         height: 400px;
         margin-top: 1500px;
         padding: 5px;
        border-radius: 10px;
        margin-left: 700px;
        }
    .smallText{
        position: absolute;
        color: white;
        width: 40%; 
        margin: 52%;
        top: 30%; 
        font-style: oblique;
        font-size: large;
    }

    .smallText2{
        position: absolute;
        color: white;
        width: 40%;
        margin: 50%;
        top: 110%;
        right: 8%; 
        font-style: oblique;
        font-size: large;
    }
.TextMain{
    position: absolute;
    color: whitesmoke;
    width: 40%; /* == (400px + 20px + 20px) * .5 = 220px */
    margin: 15%; /* == (400px + 20px + 20px) * .05 = 22px */
    font-style: italic;
    font-size: x-large;
}
.box{
    background-color: white;
    max-width: 400px;
    padding: 30px;
    border-radius: 5px;
    
}
 .wideBackground{
    width: 100%;
    background-color: #fff;
 }

 .splitt{
    background-color: blue;
    height: 0px;
    width: 100%;
    bottom: 0px;
    position: absolute;
 }

 .legal {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 300%;
    padding: 20px;
    background: #1d2636;
    color: rgba(255, 255, 255, 0.5);
  }
 
 .rights{
    font-size: 10px;
 }

 .followUs:link,
 .followUs:visited {
   color: rgba(255, 255, 255, 0.5);
   background-color: transparent;
   text-decoration: none;
 }
    ul {  
    list-style-type: none;  
     
    font-size: 17px;  
    }  